#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.welcome-title {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    animation: fadeInScale 2s ease-out forwards;
}

.welcome-title h1 {
    font-size: 50px;
    color: #E4D4C8;
    text-transform: uppercase;
    font-weight: bold;
}

#scroll-prompt {
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

#scroll-prompt span {
    font-size: 40px;
    color: #E4D4C8;
    display: inline-block;
    animation: bounce 1.5s infinite;
}

#scroll-prompt::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

#main-content {
    display: none;
    min-height: 100vh;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    background: #A47551;
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 15px 30px;
    border-radius: 50px;
    transition: background 0.3s ease;
    display: inline-block;
    text-align: center;
}

nav ul li a:hover {
    background: #8F5D41;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
